.productSwiper {
  height: calc(100vh - 170px);
}

.productSwiperDetails {
  height: calc(100vh - 64px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.productDetailsImage {
  height: 600px;
  background-color: #efefef;
}